
@page
@model IndexModel{
    ViewData["Title"] = "Home page";
}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>My Site's Title</title>
    </head>
    <body>
        <p>Hi WebMatrix!!!</p>
    </body>
</html>

